* {
  margin: 0;
  padding: 0;
}

:host {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 58px calc(100dvh - 88px) 30px;
  grid-template-areas:
    "nav nav"
    "aside main"
    "aside footer";

  nav {
    grid-area: nav;
    height: 58px;
    align-items: center;
    padding: 1rem;
    background-color: var(--pico-muted-border-color);
  }


  aside {
    grid-area: aside;
    height: calc(100vh - 58px);
    top: 58px;
    position: sticky;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(84, 94, 120, 0.2) var(--pico-background-color);
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  @media (max-width: 1200px) {
    grid-template-columns: auto;
    grid-template-rows: 50px 30vh auto;
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "aside";

    nav {
      place-content: center;
      place-items: center;
      height: 10px;

      h1 {
        font-size: 10px;
      }
    }

    aside {
      height: 65vh;
    }

    main {
      grid-area: main;
      top: 20px;
      position: sticky;
    }

    footer {
      display: none;
    }
  }
}
